

.navbar-brand{
  color: whitesmoke !important;
}
.add-portfolio{
  margin-top: 20px;
}

.btn{
  outline: none !important;
  box-shadow: none !important;
}
.form-control{
  box-shadow: none !important;
}

.row{
  margin-top: 20px;
}
.portfolio-name{
  font-weight: bold;
  font-size: 20px;
}
.portfolio-box{
  border: 1px solid silver;
  padding: 10px;
  margin-bottom: 10px;
  background: whiteSmoke;
}
.portfolio-header{
  display: flex;
  justify-content: space-around;
}

.portfolio-body{
  margin-top: 15px;
}

.portfolio-footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/*modal dialog for chart*/
@media(min-width: 576px){
  .modal-size{
      max-width: 70% !important;
  }
}

/*chart input date*/

input[type='date']{
border: 1px solid silver;
border-radius: 5px;
height: 35px;
}